@media (max-width: 414px) {
    html {
        scroll-behavior: smooth;
      }
    body{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        overflow-x: hidden;
        /* position: relative; */
    }
    #main{
        display: block;
    }
    #nav{
        display: none;
    }
    #content{
        height: 100vh;
        width: 100%;
        margin: -210px 0px 0px 0px;
    }
    #content h4{
        font-size: 40px;
        margin: 210px 0px 0px 100px;
        padding-top: 230px;
    }
    #content h1{
        font-size: 50px;
        margin: 0px 0px 0px 100px;
    }
    #about{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    #about .about-content{
        display: block;
        /* overflow: hidden; */
    }
    #about-content-left img{
        width: 300px;
        height: 350px;
        border: 3px solid gray;
        margin: 40px 80px;
    }
    #about .about-content-right{
        padding: 10px;
    }
    .credential{
        display: block;
        padding: 0px 35px 0px 0px;
        margin-right: 10px;
    }
    .credential-left .all span, .credential-right .all span{
        font-weight: bold;
        font-size: 13px;
    }
    .services{
        grid-column: 2/3;
        padding: 100px 0px;
    }
    .contact{
        display: block;
    }
    .contact-left, .contact-right{
        margin: 0px 25px;
        margin-bottom: 70px;
    } 
    .skills{
        grid-column: 1/3;
    }

  }
