@media (max-width: 414px) {
    body,html{
        width: 414px;
        scroll-behavior: smooth;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
    #main{
        display: block;
        width: 100%;
    }
    #nav{
        display: none;
    }
    #content{
        height: 100vh;
        width: 100%;
        margin: -210px 0px 0px 0px;
    }
    #content h4{
        font-size: 40px;
        margin: 210px 0px 0px 100px;
        padding-top: 230px;
    }
    #content h1{
        font-size: 50px;
        margin: 0px 0px 0px 100px;
    }
    #about .about-content{
        display: block;
      }
    #about-content-left img{
        width: 300px;
        height: 350px;
        border: 3px solid gray;
        margin: 40px 55px;
    }
    #about .about-content-right{
        padding: 10px;
    }
    .credential{
        display: block;
        padding: 0px 35px 0px 0px;
        margin-right: 10px;
    }
    .credential-left .all span, .credential-right .all span{
        font-weight: bold;
        font-size: 13px;
    }
    .services{
        padding: 100px 0px;
    }
    .contact{
        display: block;
    }
    .contact-left, .contact-right{
        margin: 0px 25px;
        margin-bottom: 70px;
    } 
    .contact-left #map{
        width: 305px;
        padding: 0px;
    }

  }
