html {
    scroll-behavior: smooth;
  }
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}
#main{
    display: grid;
    grid-template-rows: repeat(7, 100vh);
    grid-template-columns: 300px 1fr;
}
#nav{
    width: 300px;
    height: 100vh;
    position: fixed;
    grid-column: 1/2;
}
#nav #profile-image{
    margin: 30px 0px 10px 70px;
    width: 150px;
    height: 150px;
    border: 3px solid grey;
}
#nav a h3{
    margin: 0px 0px 10px 50px;
}
.nav-ul #li-item{
    margin-left: 100px;
}
.nav-link{
    font-size: 17px;
    color: #a1a5a6;
}
.copyright{
    color: white;
    position: relative;
    bottom: -140px;
    left: 50px;
}
.copyright .bold{
    font-weight: bold;
}
#content{
    background: #c9c0bf;
    grid-column: 2/3;
}
#content h4{
    font-size: 40px;
    margin: 270px 0px 0px 355px;
}
#content h1{
    font-size: 60px;
    margin: 0px 0px 0px 355px;
}
#about{
    grid-row: 2/3;
    grid-column: 2/3;
}
#about h2{
    font-size: 35px;
    margin: 15px 20px;
    border: none;
    padding: 5px 0;
    width: 80px;
    border-bottom: 5px solid #3d93d1;
}
#about p{
    margin: 15px 20px;
    font-size: 15px;
}
#about .about-content{
    display: flex;
    overflow: hidden;
}
#about-content-left img{
    width: 300px;
    height: 350px;
    border: 3px solid gray;
    margin: 40px 0px;
}
#about .about-content-right{
    padding-top: 19px;
}
#about .about-content-right h2{
    width: 100%;
    font-size: 25px;
    border: none;
    color: #2a8fc9;
}
.credential, .credential-left .all{
    display: flex;
    padding-bottom: 10px;
}
.credential-left .all span{
    font-weight: bold;
}
.credential-left .all p{
    margin: 0px 10px !important;
}
.credential-right .all{
    display: flex;
    padding-bottom: 10px;
}
.credential-right .all span{
    font-weight: bold;
}
.credential-right .all p{
    margin: 0px 10px !important;
}
.credential-right p{
    font-size: 16px;
    margin-top: 40px !important;
}
.skills{
    grid-column: 2/3;
    padding: 100px 0px;
}
.skill{
    height: 400px;
    background: #dcedf7;
    overflow: hidden;
}
.skill h2{
    font-size: 35px;
    margin: 15px 20px;
    border: none;
    padding: 5px 0;
    width: 60px;
    border-bottom: 5px solid #3d93d1;
}
.skill .skills-box{
    display: flex;
}
.resume{
    grid-column: 2/3;
}
.resume h2{
    font-size: 35px;
    margin: 15px 20px;
    border: none;
    padding: 5px 0;
    width: 80px;
    border-bottom: 5px solid #3d93d1;
}
.resume-content{
    padding: 0px 20px;
}
.resume-text{
    display: flex;
}
.resume-text span{
    font-weight: bold;
    /* width: 60px; */
}
.resume-text p{
    margin-left: 10px;
}
.summary{
    grid-column: 2/3;
}
.summary-left, .summary-right{
    border: none;
    border-left: 2px solid #4f91c4;
    margin-left: 15px;
    margin-top: 10px;
}
.summary-left .summary-ul::before, .summary-right .summary-ul::before{
    content: '';
    position: absolute;
    left: -9px;
    top: -28;
    width: 15px;
    height: 15px;
    background: #4f91c4;
    border: 2px solid #4f91c4;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #4f91c4;
}
.education ul li{
    list-style: none;
    margin-bottom: 5px;
}
.education ul li div span{
    color: black;
    background:#dcedf7;
}
.services{
    grid-column: 2/3;
}
.services h2{
    font-size: 35px;
    margin: 15px 20px;
    border: none;
    padding: 5px 0;
    width: 80px;
    border-bottom: 5px solid #3d93d1;
}
.services .service{
    margin: 50px 0px 0px 70px;
}
.services .service h3{
    font-size: 22px;
    color: #59636e;
    cursor: inherit;
}
.services .service h3:hover{
    color: #3d93d1;
    transition: all 0.5s ease;
}
.services .service::before{
    content: '';
    position: absolute;
    margin-left: -49px;
    margin-top: -7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3d93d1;
    cursor: inherit;
}
.services .service:hover::before{
    background: none;
    border: 1px solid #3d93d1;
    transition: all 0.5s ease;
}
.contact{
    grid-column: 2/3;
}
.contact h2{
    font-size: 35px;
    margin: 15px 20px;
    border: none;
    padding: 5px 0;
    width: 80px;
    border-bottom: 5px solid #3d93d1;
}
.contact span{
    margin-left: 20px;
}
.contact-content{
    padding: 10px;
}
.contact-content div{
    padding: 5px;
}
.contact-content div h4{
    font-size: 20px;
}
.contact-content div span{
    color: #3f84c4;
    cursor: inherit;
}
#content .row{
    overflow: hidden;
}
.contact{
    overflow: hidden;
    min-height: 130vh;
}


/* media queryy */
